# This file must be used with "source activate" *from bash*
# you cannot run it directly
BASE_DIR=$(cd `dirname "${BASH_SOURCE[0]}"` && pwd)

deactivate () {
    # reset old environment variables
    if [ -n "$_OLD_PATH" ] ; then
        PATH="$_OLD_PATH"
        export PATH
        unset _OLD_PATH
    fi
    if [ -n "$_OLD_NODE_PATH" ] ; then
        NODE_PATH="$_OLD_NODE_PATH"
        export NODE_PATH
        unset _OLD_NODE_PATH
    fi

    # This should detect bash and zsh, which have a hash command that must
    # be called to get it to forget past commands.  Without forgetting
    # past commands the $PATH changes we made may not be respected
    if [ -n "$BASH" -o -n "$ZSH_VERSION" ] ; then
        hash -r 2>/dev/null
    fi

    if [ -n "$_OLD_PS1" ] ; then
        PS1="$_OLD_PS1"
        export PS1
        unset _OLD_PS1
    fi

    unset PRODUCTLINE_DIR
    unset PRODUCT_DIR
    if [ ! "$1" = "nondestructive" ] ; then
    # Self destruct!
        unset -f deactivate
    fi
}

# unset irrelevant variables
deactivate nondestructive

PRODUCTLINE_DIR=`dirname $(dirname "$BASE_DIR")`
export PRODUCTLINE_DIR

PRODUCT_DIR="$BASE_DIR"
export PRODUCT_DIR

_OLD_PATH="$PATH"
PATH="$PRODUCTLINE_DIR/node_modules/.bin:$PATH"
export PATH

_OLD_NODE_PATH="$NODE_PATH"
NODE_PATH="$PRODUCTLINE_DIR/features:$PRODUCTLINE_DIR/node_modules:$NODE_PATH"
export NODE_PATH

_OLD_PS1="$PS1"
PS1="($PRODUCT_DIR)$PS1"
export PS1

# This should detect bash and zsh, which have a hash command that must
# be called to get it to forget past commands.  Without forgetting
# past commands the $PATH changes we made may not be respected
if [ -n "$BASH" -o -n "$ZSH_VERSION" ] ; then
    hash -r 2>/dev/null
fi
